@charset "utf-8";

/* common */
#wrap {position: relative; min-width: 1100px; overflow: hidden; height: 100vh;}
#main {position: absolute; left: 0; top: 0; width: 100%; height: 100vh;}
section.scroll-page {position: absolute; left: 0; top: 0; width: 100%; height: 100vh; overflow: hidden;}

/* firstpage - index */
section#firstpage {background: url(../img/bg.gif);}
section#firstpage .inner-box {position: relative; width: 70%; height: 60%; top: 50%; transform: translateY(-50%); margin: 0 auto; font-family: 'Oswald', sans-serif; background: #3535af;}
section#firstpage .inner-box h2{font-size: 100px; color: white; letter-spacing: 10px;}
section#firstpage .inner-box p {margin-top: 50px; color: white; letter-spacing: 10px; text-align: right;}

/* page 2 - pilly */
section#pilly .pic{background: url(../img/index_pilly_00.png); width: 100%; height: 100vh; margin-left: 150px;}
section#pilly .pic img{position: absolute; top: -80px; left: 0; width: 85%; }
section#pilly .info-box{position: absolute; top: 0; right: 0; width: 20%; height: 100%; margin-right: 170px; color: white; text-align: right;}
section#pilly .info{position: absolute; top: 50px; right: 30px; width: 100%;}
section#pilly .info h4:before{content: "01"; font-size: 80px; display: block; font-weight: 700; margin-bottom: 30px;}
section#pilly .info h4{font-size: 40px; letter-spacing: 2px; margin-bottom: 35px;}
section#pilly .info h4 span{font-weight: 300; font-size: 24px; letter-spacing: 1.2px;}
section#pilly .info li{margin-bottom: 30px; font-size: 16px; letter-spacing: 2px;}
section#pilly .info li p{margin-top: 10px; letter-spacing: 1.4px;}
section#pilly .btn-more{position: absolute; bottom: 25%; right: 0;}
section#pilly .img-more:before{background: rgba(255, 148, 41, 0.5);}
section#pilly .img-more:hover:before{background: rgb(255, 148, 41);}

/* page 3 - air na*/
section#airna .pic{background: url(../img/index_airna_00.png); width: 100%; height: 100vh;}
section#airna .pic img{width: 40%; position: absolute; top: 10%; left: 32%;}
section#airna .info-box{position: absolute; left: 0; bottom: 0; width: 100%; height: 35%; text-align: center; color: white;}
section#airna .info{position: relative;}
section#airna .info h4:before{position: absolute; top: 0; left: -120px; content: "02"; font-size: 80px; font-weight: 700;}
section#airna .info h4{position: absolute; top: 0; left: 45%; font-size: 40px; letter-spacing: 2px; margin-bottom: 30px;}
section#airna .info h4 span{font-weight: 300; font-size: 24px; letter-spacing: 1.2px;}
section#airna .info ul{position: absolute; top: 120px; left: 50%; transform: translateX(-50%); width: 60%; margin: 0 auto;}
section#airna .info li{float: left; width: 33.3333%; margin-bottom: 35px; font-size: 16px; letter-spacing: 2px;}
section#airna .info li p{font-size: 16px; margin-top: 10px; letter-spacing: 1.4px; line-height: 1.4;}
section#airna .btn-more{position: absolute; bottom: 55px; left: 53%; transform: translateX(-50%);}
section#airna .btn-more li{float: left; margin-right: 45px;}
section#airna .img-more:before{background: rgba(53, 53, 175, 0.5);}
section#airna .img-more:hover:before{background: rgb(53, 53, 175);}

/* page 4 - 달구포차 */
section#dalgu .pic{background: url(../img/index_dalgu_00.png); width: 100%; height: 100%; margin-left: 150px;}
section#dalgu .pic img{width: 80%; margin-left: 77px;}
section#dalgu .info{position: absolute; bottom: 9%; left: 12%; width: 40%; padding-left: 30px; color: #333333;}
section#dalgu .info h4:before{content: "03"; font-size: 80px; font-weight: 700; display: block; margin-bottom: 30px;}
section#dalgu .info h4{font-size: 40px; letter-spacing: 2px; margin-bottom: 30px;}
section#dalgu .info h4 span{font-weight: 300; font-size: 24px; letter-spacing: 1.2px;}
section#dalgu .info li p{font-size: 16px; margin-top: 10px; letter-spacing: 1.4px;}
section#dalgu .info li{margin-bottom: 35px; font-size: 16px; letter-spacing: 2px;}
section#dalgu .btn-more{position: absolute; bottom: 35px; left: 13.5%;}
section#dalgu .img-more:before{background: rgba(170, 170, 170, 0.5);}
section#dalgu .img-more:hover:before{background: rgb(170, 170, 170);}

/* page 5 - gallery */
h3{padding: 40px 0; font-family: 'Oswald', sans-serif; color: #3535af; font-size: 50px; letter-spacing: 2px; text-align-last: center; margin: 10px 0;}
div.image-slide {position: relative; margin: 0 auto; width: 700px; height: 100%;}
div.image-slide > div.box {position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden;}
div.image-slide ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
div.image-slide ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
div.image-slide ul.slide li:first-child {display: block;}
div.image-slide ul.slide li > a {display: block;}
div.image-slide ul.indicator {position: absolute; top: 77%; right: 0; width: 100%; text-align: center;}
div.image-slide ul.indicator li {display: inline-block;}
div.image-slide ul.indicator li + li {margin-left: 3px;}
div.image-slide ul.indicator li a {display: block; width: 10px; height: 10px; border: 1px solid black; border-radius: 20px; overflow: hidden; text-indent: -999px;}
div.image-slide ul.indicator li.on a {background: black;}
div.image-slide p.control a.prev, div.image-slide p.control a.next {position: absolute; top: 35%; width: 40px;}
div.image-slide p.control a.prev {left: -150px;}
div.image-slide p.control a.next {right: -150px;}

/* page 6 - study*/
iframe{width: Calc(100% - 150px); height: 100%; margin-left: 150px;}

/* lastpage - contact*/
section#contact .inner-box{position: relative; width: 70%; height: 60%; top: 50%; transform: translateY(-50%); margin: 0 auto; font-family: 'Oswald', sans-serif; background: #3535af;}
section#contact .infotext{position: absolute; bottom: 80px; right: 40px;}
section#contact .infotext a{border-bottom: 1px solid white;}
section#contact .inner-box h2{font-size: 100px; color: white; letter-spacing: 10px;}
section#contact .inner-box p{margin: 5px 0; color: white; letter-spacing: 10px; text-align: right;}

/* indicator */
#page-indicator {position: fixed; right: 60px; top: 100px; transform: translate(0, -50%); z-index: 10000;}
#page-indicator li + li {margin-top: 15px;}
#page-indicator li a {display: block; width: 10px; height: 10px; border: 1px solid black; border-radius: 20px; overflow: hidden;}
#page-indicator li.on a {background: black;}

/* btn_more */
.img-more{position: relative; float: left; margin: 20px 30px 0 0; padding: 15px 22px; transition: all .2s ease;}
.img-more:before{position: absolute; top: 0; left: 0; content: ""; display: block; width: 56px; height: 56px; background: rgba(255, 171, 157, 0.5); border-radius: 28px; transition: all 0.3s ease;}
.img-more:hover:before{width: 100%; background: #FFAB9D;}
.img-more:hover svg{transform: translateX(0);}
.img-more:active{transform: scale(.96);}      
.img-more span{position: relative; font-size: 16px; letter-spacing: 0.25em; line-height: 18px; vertical-align: middle; text-transform: uppercase;}
.img-more svg{position: relative; top: 0; transform: translateX(-5px); margin-left: 10px; fill: none; stroke-linecap: round; stroke-linejoin: round; stroke: white; stroke-width: 2; transition: all .3s ease;}