@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,300,400|Oswald&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box; vertical-align: baseline; border: 0; font: inherit;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
body{margin: 0; line-height: 1; font-family: 'Noto Sans KR', sans-serif; font-size: 18px;}
ol, ul, li{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content: none;}
table{border-collapse: collapse; border-spacing: 0;}
a:link ,a:active, a:visited, a:focus{text-decoration: none; color: inherit;}

h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
header, main, footer, section, article, aside, nav {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;}
br.only-m {content: '';}
br.only-m:after {content: '\00a0';}
div.hidden {position: absolute; left: -9999px;}

/* float 해제*/
.clear{content: ''; display: block; clear: both;}